
<link rel="stylesheet" href="~/Content/booktype/pure-min.css" />
<link rel="stylesheet" href="~/Content/booktype/styles.css">
@section header
{
    <style type="text/css">

        .left-sidebar {
            width: 0px;
        }

        .main-content {
            margin-top: 34px;
            flex-grow: 1;
        }

        .main-content .top-buffer {
            margin-top: 14px;
        }
    </style>
    <script type="text/javascript">
    </script>
}

<div class="left-sidebar">
    <!-- sidebar content -->
    <div style="width: 120px;">
        <div class="pure-menu custom-restricted-width">
            <span style="font-size:25px;">图书类型</span>
            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="@Url.Action("Index", "Store")" class="pure-menu-link">所有图书</a>
                </li>
                @{
                    System.Data.DataTable table = (System.Data.DataTable)ViewData["bks_BookType"];
                }
                @foreach (System.Data.DataRow row in table.Rows)
                {
                    <li class="pure-menu-item">
                        <a href="@Url.Action("GetBooksByType","Store",new { BookType = row["bookTypeCode"] })" class="pure-menu-link">
                            @row["bookTypeName"].ToString()
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>


