@model db.client.view.bks_Books

<!DOCTYPE html>
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<html>
<body>
    <style type="text/css">

        body {
            background-color: #F7F7F7;
        }

        .ruiTable th {
            height: 50px;
        }

        .showData ul li {
            float: left;
            margin-left: 5px;
            border: 1px solid black;
            width: 180px;
            height: 250px;
        }
        /*  轮播图*/
        .slideshow-container {
            position: relative;
            max-width: 400px;
            max-height: 100px;
            margin: auto;
        }

        .slide {
            display: none;
        }

            .slide img {
                width: 950px;
                height: 400px;
            }
    </style>
    <script type="text/javascript">
        //刷新当前页面的数据
        function refleshData(exeCountSql) {
            $("#container").pager("reflesh", exeCountSql);
        }
        //初始化分页
        $(function () {
            $("#container").pager();
        });
    </script>


    @{ string ctrl = ViewContext.RouteData.Values["controller"].ToString(); }
    <div style="width:1200px; margin-left:auto; margin-right:auto;">

        <div class="pure-menu pure-menu-horizontal">
            <a class="pure-menu-heading" href="~/Store/Index"><img src="~/images/PageOneLOGO1.jpg" style="width: 120px; height: 40px;" alt="PageOne" /></a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected">
                    <a href="~/Store/Index" class="pure-menu-link">首页</a>
                </li>
                <li class="pure-menu-item">
                    <a href="~/Shopping/Index" class="pure-menu-link">个人中心</a>
                </li>
                @if (Session["username"] != null)
                {
                    <li class="pure-menu-item">
                        <a href="~/Store/outload">退出登录</a>
                    </li>
                }
                else
                {
                    <li class="pure-menu-item">
                        <a href="~/UserLogin/Login">登录</a>
                    </li>
                }
            </ul>
        </div>


        <div class="left" style="float:left; width:18%;">
            @Html.Action("bookTypeNav", "Store")
        </div>
        <div class="right" style="float:right; width:80%;">
            <div class="container" id="container" data-width="@Model.PageWidth" data-url="/Store/Index">
                <div class="search">
                    <span>图书名称：@Html.TextBoxFor(a => a.bookName)</span>
                    <a class="opSearch">查询</a>
                </div>
                <div class="pager"></div>
                <div class="showData noTable" style="margin-top:50px;">
                    @{Html.RenderPartial("_ShowData");}
                </div>

            </div>
        </div>
    </div>


</body>
</html>

@if (TempData["SuccessMessage"] != null)
{
    <script>
        alert('@TempData["SuccessMessage"]');
    </script>
}
