<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="startPath" value="E:\Projecting" />
    <add key="CoreCodeCreate" value="E:\Projecting\_CoreMVC开发框架 - 腾讯40\trunk\_CoreCodeCreate" />
    <add key="MVC5CodeCreate" value="E:\Projecting\_MVC5开发框架 - 腾讯40\trunk\_MVC5CodeCreate" />
  </appSettings>
  <connectionStrings>
    <!--核对连接串所连接的数据库是否与项目开发数据库相符-->
    <!--开发库-->
    <add name="dbConn" connectionString=" data source=LAPTOP-GLEPGJBC;initial catalog=ruiMvcFramework;user id=sa;password=123456;Max Pool Size=500; " providerName="System.Data.SqlClient" />
    <!--开发库EF-->
    <add name="dbEntities" connectionString=" metadata=res://*/dbModel1.csdl|res://*/dbModel1.ssdl|res://*/dbModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot; data source=LAPTOP-GLEPGJBC;initial catalog=ruiMvcFramework;user id=sa;password=123456;Max Pool Size=500;   MultipleActiveResultSets=True;App=EntityFramework &quot; " providerName="System.Data.EntityClient" />
    <!--比较库-->
    <add name="dbConnCompare" connectionString=" data source=129.211.41.40;initial catalog=ruiMvcFramework;user id=sa;password=9ol.;Max Pool Size=500; " providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>