<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="CoreCodeCreate" value="E:\Projecting\_CoreCodeCreate" />
    <add key="MVC5CodeCreate" value="E:\Projecting\_MVC5CodeCreate" />
  </appSettings>
  <connectionStrings>
    <!--核对连接串所连接的数据库是否与项目开发数据库相符-->
    <!--开发库-->
    <add name="dbConn" connectionString=" data source=192.168.66.80;initial catalog=ruiMvcFramework;user id=sa;password=9ol.; persist security info=True " providerName="System.Data.SqlClient" />
    <!--开发库EF-->
    <add name="dbEntities" connectionString=" metadata=res://*/dbModel1.csdl|res://*/dbModel1.ssdl|res://*/dbModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot; data source=192.168.66.80;initial catalog=ruiMvcFramework;user id=sa;password=9ol.; MultipleActiveResultSets=True;App=EntityFramework &quot; " providerName="System.Data.EntityClient" />
    <!--比较库-->
    <add name="dbConnCompare" connectionString=" data source=192.168.66.80;initial catalog=ruiMvcFramework;user id=sa;password=9ol.; persist security info=True " providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>