@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>忘记密码</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/easyui1.8.6/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/easyui1.8.6/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/login.css" />
    <style>
        .fgtform {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: 0;
            box-shadow: none;
        }

        .fgtform2 {
            margin-top: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: 0;
            border-top-style: none;
            box-shadow: none;
        }
    </style>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 <script>
    $(function() {
        $('#f1').submit(function(e) {
            e.preventDefault();   // 阻止表单自动提交
            // 获取表单数据
            var email = $('#email').val();

            $.ajax({
                url: '/UserLogin/SendCode',
                type: 'POST',
                data: {
                    email: email
                },
                success: function (result) {
                    if (result == "Success")
                    {
                        startTimer();
                        alert(result);
                    }
                    if(result=="Fail")
                    {
                        alert(result);
                    }
                },
            });
        });
        $('#f2').submit(function (e) {
              // 阻止表单自动提交
            // 获取表单数据
            var verifyc = $('#verifyc').val();
            $.ajax({
                url: '/UserLogin/VerifyCode',
                type: 'POST',
                data: {
                    verifyc: verifyc
                },
                success: function (result) {
                    if (result == "验证码错误") {
                        alert(result);
                    }
                },
            });
        });
    });
    var timer;
    function startTimer() {
        var btn = document.getElementById("overc");
        btn.disabled = true; // 禁用按钮
        var count = 60;
        timer = setInterval(function () {
            count--;
            if (count < 0) {
                clearInterval(timer);
                btn.disabled = false; // 启用按钮
                btn.innerHTML = "获取代码";
            } else {
                btn.innerHTML = count + "秒后重新获取";
            }
        }, 1000);
    }
 </script>  
</head>
<body>


    <form id="f1" action="#" class="fgtform">
        <img src="~/Content/images/PageOneLOGO1.jpg" style="width:270px;height:73px;margin:0 45px;" />
        <h1 style="text-align:center;">重置密码</h1>
        <div style="position:relative;width:100%;box-sizing:inherit;display:block;text-align:center;">
            <input type="email" id="email" placeholder="电子邮件地址" name="email" required register="text">
            <span class="addon-after">
                <button class="resetpassword" type="submit" id="overc" onclick="sendVerificationCode()">获取代码</button>
            </span>
        </div>
    </form>
    <form id="f2" action="~/UserLogin/ResetPassword" class="fgtform2">
        <input type="text" class="vercode" placeholder="请输入您的重置代码" id="verifyc" name="verifyc" register="text">
        <input type="submit" id="resetpwd" value="重置密码" style="cursor:pointer">
        <div style="cursor:pointer;font-size:12px;font-weight:400;display:block;text-align:center;width:100%;">
            <span style="color:rgba(0,0,0,.65);box-sizing:inherit;">记得密码？</span>
            &nbsp;<span style="color:#3872e0;box-sizing:inherit;" onclick="window.location='/UserLogin/Login';">登录</span>
        </div>
    </form>


</body>
</html>