@model db.view.af_AuditFlow
@{
    ViewBag.Title = "审批流维护";
}

@section header
{
    <style type="text/css">
    </style>
    <script type="text/javascript">
        //刷新当前页面的数据
        function refleshData(exeCountSql) {
            $("#container").pager("reflesh", exeCountSql);
        }
        //初始化分页
        $(function () {
            $("#container").pager();
        });
    </script>
}
@{ string ctrl = ViewContext.RouteData.Values["controller"].ToString(); }
<div class="container" id="container" data-width="@Model.PageWidth" data-url="/admin/af_AuditFlow/select">

    <div class="search">
        <span>所属组织：@Html.DropDownListFor(a => a.orgCode, db.bll.sbs_Org.bindDdlForLogin())</span>
        <span>审批单据类型：@Html.DropDownListFor(a => a.auditTypeCode, db.bll.af_AuditType.bindDdl(true))</span>
        <span>审批流名称：@Html.TextBoxFor(a => a.flowName)</span>
    </div>
    <div class="toolbar">
        <a class="opSearch">查询</a>
        @Html.ActionLink("新增", "Insert", new { }, new { @class = "showDialogR opInsert", data_show = rui.privCtl.isPriv(ctrl, rui.privCtl.eOp.Insert) })
        @Html.ActionLink("启用", "Enable", new { }, new { @class = "listBatchOp opBtn", data_show = rui.privCtl.isPriv(ctrl, rui.privCtl.eOp.Enable), data_msg = "确认启用？" })
        @Html.ActionLink("禁用", "Disable", new { }, new { @class = "listBatchOp opBtn", data_show = rui.privCtl.isPriv(ctrl, rui.privCtl.eOp.Disable), data_msg = "确认禁用？" })
    </div>

    <div class="pager"></div>
    <div class="showData cbxCol">
        @{Html.RenderPartial("_ShowData");}
    </div>
</div>
