
@{
    ViewBag.Title = "图书类型展示";
}

<ul>
    <li><a href="@Url.Action("Index", "bookType")">所有图书</a></li>
    @{
        System.Data.DataTable table = (System.Data.DataTable)ViewData["bks_BookTypeTable"];
    }
    @foreach (System.Data.DataRow row in table.Rows)
    {
        <li>
            <a href="@Url.Action("Index","bookType",new { type = row["bookTypeCode"] })">
                @row["bookTypeName"].ToString()
            </a>
        </li>
    }
</ul>

