@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
</head>
<body>
    <div>
        授权登录后页面

        <div>@ViewData["userName"]</div>
        <div>@ViewData["nickname"]</div>
        <div>@ViewData["province"]</div>
        <div><img src="@ViewData["headimgurl"]" /></div>
    </div>
</body>
</html>
